<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Category List</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>

                    <div class="card-body">
                        <div class="card my-5">
                            <div class="card-body">
                                <div class="container">
                                    <!-- Trigger the modal with a button -->
                                    <div class="button-left" style="float: left">
                                    <form class="form-inline my-2 my-lg-0">
                                        <input class="form-control mr-sm-2" type="name2" placeholder="Name" aria-label="Name">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                    </form>
                                    </div>

                                    <div class ="button-right" style="float: right">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Category</button>
                                    <button type="button" class="btn btn-success">Delete All Category</button>
                                    </div>
                                    <br/>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>

                                                <br/>

                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-header card-header-danger">
                                                            <h4 class="card-title ">Category Form</h4>
                                                            <p class="card-category"> Here is a subtitle for this table</p>
                                                        </div>
                                                        <div class="card my-5">
                                                            <div class="card-body">
                                                                <form (ngSubmit)="onSubmit()">
                                                                    <div class="form-group">
                                                                        <label for="name2">Category Name:</label>
                                                                        <input type="text" class="form-control" placeholder="Enter Name"
                                                                               id="name2" required [(ngModel)]="category1.name" name="name2">
                                                                    </div>
                                                                    <button type="submit" (click)="save()" class="btn btn-success">Submit</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/category-list">Close</button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <br/>
                                <table class="table table-bordered table-striped">

                                    <thead class="thead-dark">

                                    <tr>
                                        <th scope="col">Tick</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Here</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let category of category,  let index = index">
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            {{category.id}}
                                        </td>
                                        <td *ngIf="!isUpdate[index]">
                                            {{category.name}}
                                            <a (click)="updateName(index)"></a>
                                        </td>
                                        <div *ngIf="isUpdate[index]">
                                            <input type="text" [(ngModel)]="category.name">
                                        </div>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon"
                                                    (click)="updateName(index)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="submit" matTooltip="Update"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon" (click)="updateName(index)" (click)="showNotification('top','right')"
                                                    (click)="updateCategory(category)">
                                                <i class="material-icons" routerLink="/category-list">update</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon"
                                                    (click)='deleteCategory(category.id)' routerLink="/category-list">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
